table, thead
{
	border-collapse: collapse;
	border: 3px solid black;
	width: 93%;
	position: relative;
	margin-left: 2%;
  text-align: center;
}

td {
    border-collapse: collapse;
    margin: auto;
    border-width: 1px;
}